.left a {
  color: var(--light);
  text-decoration: none;
}

.socials {
  display: flex;
  gap: 20px;
}

.socials a {
  color: white;
  font-size: 22px;
  transition: 0.2s;
}

.socials a:hover {
  transform: translateY(-3px);
  opacity: 0.7;
}

.svg-image-two {
    margin: 20px;
    width: 20px;
    background: #aec0f8;
    padding: 4px;
    border-radius: 6px;
}

.svg-image-two:hover {
    margin: 20px;
    width: 20px;
    box-shadow: 0px 0px 15px rgba(174, 192, 248, 0.5);
    background:  #d8e0fa;
    padding: 4px;
    border-radius: 6px;
}

.svg-image-one {
    margin: 20px 0;
    width: 20px;
    background: #aec0f8;
    padding: 4px;
    border-radius: 6px;
}
.svg-image-one:hover {
    margin: 20px 0;
    width: 20px;
    box-shadow: 0px 0px 15px rgba(174, 192, 248, 0.5);
    background:  #d8e0fa;
    padding: 4px;
    border-radius: 6px;
}

.svg-image-three {
    margin: 20px 0;
    width: 20px;
    background: #aec0f8;
    padding: 4px;
    border-radius: 6px;
}
.svg-image-three:hover {
    margin: 20px 0;
    width: 20px;
    box-shadow: 0px 0px 15px rgba(174, 192, 248, 0.5);
    background:  #d8e0fa;
    padding: 4px;
    border-radius: 6px;
}

