<section id="hero" class="hero">
  <p class="intro">Hi, my name is</p>
  <h1>Avishkar Dixit.</h1>
  <h2>I build things for the web.</h2>
  <app-left-social></app-left-social>

  <p class="desc">
    I'm a full-stack developer working with Angular and .NET on enterprise-scale applications.
  </p>

  <div class="button-group">
    <a class="btn" href="#experience">Check out my work experience!</a>
    <button class="btn btn-resume" (click)="downloadResume()">Download My Resume</button>
  </div>
</section>
