<section id="about">
  <h2 class="section-title"><span>01.</span> About Me</h2>

  <p>
    I'm a full-stack developer working at Accenture, building large-scale Angular and .NET applications.
  </p>
   <p>
        I enjoy creating efficient and scalable web applications, and I'm passionate about learning new technologies and improving my skills.
        I enjoy creating efficient and scalable web applications, and I'm passionate about learning new technologies and improving my skills.
        I enjoy creating efficient and scalable web applications, and I'm passionate about learning new technologies and improving my skills.
        I enjoy creating efficient and scalable web applications, and I'm passionate about learning new technologies and improving my skills.   
   </p>
</section>
