@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

:root {
  --bg: #0a192f;
  --light: #ccd6f6;
  --muted: #8892b0;
  --green: #64ffda;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--light);
  font-family: 'Inter', sans-serif;
}

.container {
  padding: 0 150px;
}

section {
  padding: 100px 0;
}
